// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letters ul{
  list-style: none;
  margin: 40px;
  margin-bottom: 50px;
}
.letters li{
  margin: 10px;
  display: inline;
  font-size: 40px;
  padding: 20px;
  background-color: red;
  border-radius: 10px;
  color: white;
}
h1 {
  font-weight: bold;
  font-size: 60px;
  color: white;
}
.form {
  margin: 20px;
}
body {
  background-color: orange;
}
p {
  font-size: 26px;
}
h2 {
  background-color: red;
  padding: 20px;
  color: white;
  font-family: comic;
}
